body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  height: 1000px;
  justify-content: center;
  align-items: center;
  background-color: rgb(177, 241, 255);

}

h1 {
  text-align: center;
}

.flowerBox {

  border-bottom: 100px solid #5f3b23;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  height: 0;
  width: 500px;
}


.rectangle {
  position: relative;
  top: 100px;
  left: -200px;
  height: 100px;
  width: 900px;
  background-color: #e48b70;
  font-size: 60px;
  padding-top: 120px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(97, 66, 28);
}


.pricetag {
  border: 10px solid;
  height: 1000px;
  position: relative;
  top: 100px;
  left: 1250px;
  height: 50px;
  width: 200px;
  background-color: #fcffd6;
  font-size: 30px;
  padding-top: 10px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(97, 66, 28);
  flex-direction: column;
  align-items: flex-end;

}



.bucket {
  width: 90px;
  height: 0px;
  border-top: 175px solid #ec51b1;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 250px;
  width: 250px;
  top: 250px;
  left: 15px;
  font-size: 20px;
  padding-top: 0px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(8, 153, 32);
}

.iris {
  padding: 0;
  margin: 0;
  background: rgb(255, 0, 212);
  border-radius: 50%;
  position: absolute;

}